:root {
    --color-texto: black;
    --color-fondo: white;
    --color-aux: gray;
    --color: rgb(69,131,232)
}

* {

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Lora', serif;

}

header {

    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 0;
    margin-top: 0;
}

body > header > nav {

    position: fixed;
    top: 0rem;
    left: 0rem;
    background: black;
    height: 100vh;
    width: 100px;
    margin-top: 16px;

}


p {

    padding: 0.5rem;
}



video {

    margin: 1rem 0.2rem;
    width: 100%;
    height: 50vh;
}


.foto {

    width: 100%;
}


.wrapper-home header {

    text-align: center;

}

section > header > h1 {

    font-size: 2rem;
    background: blue;
    opacity: 0.5;
}

/*
header {

    color: white;
    background-color: gray;

}
*/


/*Resetear menu*/



nav, h1, h2 {

    font-family: 'Lora', serif;
}



/* menú principal*/

h1 {

    padding-top: 0.5rem;

}

nav a.hide {

    display: none;
}


.navegacion {

    position: fixed;
    z-index: 10;
    width: 100%;

}


.boton-menu {

    position: absolute;
    z-index: 15;
    width: 100%;
    color: black;
    background-color: rgb(69,131,232);
    padding: 0.5rem;
}


.boton-menu a {

    float: right;
}

.desplegable {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgb(69, 131, 232);
    opacity: 0.75;
    height: 20rem;
    /*revisar*/
    transition: all 0.5s ease-in-out;
}




nav.mobile {

    font-size: 1.5rem;
    cursor: pointer;
}


nav ul {

    list-style: none;
}

nav a {
    color: inherit;
    text-decoration: none;
}

.active {

    color: goldenrod;
    font-size: 1rem;

}

/*
section header {

    height: 100vh;

}
*/



.header-home {

    background-image: url('../assets/bg-1.jpg');
}

.header-quiensoy
.header-estudios
.header-experiencia
.header-sobremi
.header-contacto
.wrapper-home {

    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* animacion sobre el menu*/
@keyframes menu {

    0% {

        background: #f00;
        font-size: 2rem;

    }

    50% {

        background: #ffd630;
        font-size: 4rem;

    }

}

.menu1 > ul > li > a:hover {
    animation-name: menu;
    animation-duration: 2s;
}



/*media queries*/



@media screen and (min-width: 480px) {



    body {

        background-color : aqua;

    }




}



@media screen and (min-width: 768px) {

    section > header > h1 {

        background: olive;
    }
}




@media screen and (min-width: 1024px) {

    section > header > h1 {

        background: olive;
    }
}









